{{ define "telegram.gpu_status" -}}
✅ <b>{{ .Annotations.title }}</b>
{{ range .Alerts.Firing -}}
┣ 서버: <b>{{ .Labels.server_name }}</b>
┣ GPU #{{ .Labels.gpu_index }}: <code>{{ .Labels.gpu_name }}</code>
{{- if .Annotations.content }}
{{ .Annotations.content -}}
{{- end }}
{{ end -}}
{{- end }}
